[submodule "molcore"]
	path = molcore
	url = git://source.openchemistry.org/molcore.git
[submodule "molequeue"]
	path = molequeue
	url = git://source.openchemistry.org/molequeue.git
[submodule "openqube"]
	path = openqube
	url = git://source.openchemistry.org/openqube.git
[submodule "tpl/eigen"]
	path = tpl/eigen
	url = git://github.com/cryos/eigen.git
[submodule "chemkit"]
	path = chemkit
	url = git://github.com/kylelutz/chemkit.git
[submodule "chemdata"]
	path = chemdata
	url = git://source.openchemistry.org/chemdata.git
