[submodule "molequeue"]
	path = molequeue
	url = git@github.com:OpenChemistry/molequeue.git
[submodule "avogadrolibs"]
	path = avogadrolibs
	url = git@github.com:pskowronskiTDx/avogadrolibs.git
[submodule "avogadrodata"]
	path = avogadrodata
	url = git@github.com:OpenChemistry/avogadrodata.git
[submodule "avogadroapp"]
	path = avogadroapp
	url = git@github.com:pskowronskiTDx/avogadroapp.git
[submodule "thirdparty/VTK"]
	path = thirdparty/VTK
	url = git@github.com:Kitware/VTK.git
[submodule "thirdparty/qttesting"]
	path = thirdparty/qttesting
	url = https://gitlab.kitware.com/paraview/qttesting.git
[submodule "thirdparty/protobuf"]
	path = thirdparty/protobuf
	url = git@github.com:OpenChemistry/protobuf.git
[submodule "thirdparty/protocall"]
	path = thirdparty/protocall
	url = git@github.com:OpenChemistry/protocall.git
[submodule "avogadrogenerators"]
	path = avogadrogenerators
	url = git@github.com:openchemistry/avogenerators.git
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "thirdparty/yaehmop"]
	path = thirdparty/yaehmop
	url = https://github.com/greglandrum/yaehmop
[submodule "molecules"]
	path = molecules
	url = git@github.com:OpenChemistry/molecules.git
[submodule "crystals"]
	path = crystals
	url = git@github.com:OpenChemistry/crystals.git
