[submodule "molequeue"]
	path = molequeue
	url = git://github.com/OpenChemistry/molequeue.git
[submodule "avogadrolibs"]
	path = avogadrolibs
	url = git://github.com/OpenChemistry/avogadrolibs.git
[submodule "avogadrodata"]
	path = avogadrodata
	url = git://github.com/OpenChemistry/avogadrodata.git
[submodule "avogadroapp"]
	path = avogadroapp
	url = git://github.com/OpenChemistry/avogadroapp.git
[submodule "mongochem"]
	path = mongochem
	url = git://github.com/OpenChemistry/mongochem.git
[submodule "thirdparty/VTK"]
	path = thirdparty/VTK
	url = git://github.com/Kitware/VTK.git
[submodule "thirdparty/qttesting"]
	path = thirdparty/qttesting
	url = git://paraview.org/QtTesting.git
